{% extends 'tranai/base.html' %}

{% block content %}
<div class="card-body">
<!-- <center> -->
  <h5>New Document</h5>
  <!-- <br/><br/> -->
  <!-- {% if submitted %}
    Your Document was submitted successfully!
  {% else %} -->

  <form action="" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Create Document" class="btn btn-secondary">
    <a class="btn btn-warning" href="{% url 'index-documents' %}" role="button">Cancel Document</a>
    <!-- <button type="button" class="btn btn-warning">Cancel Message</button> -->
    <!-- <input type="button" value="Cancel Message" class="btn btn-warning"> -->
  </form>
  <!-- {% endif %} -->
  <!-- </center> -->
</div>
{% endblock %}