<footer class="blog-footer">
  <!-- <p>Copyright &copy; MessageHub Translator by <a href="https://twitter.com/mdo"><strong>The Open Door</strong> project</a></p> -->
  <p>
    <!-- <img src="assets/H-Teli-Logo-sm-comm7.png" width="170px" height="64.13px"> -->
  </p>
  </p>
  <p>Copyright &copy; {{current_year}} <a href="http://www.learnableloopai.com/">LearnableLoopAI.com</a>. All rights reserved. Developed by <a href="http://www.ultimit.us" style="color: #999999;">UltimIT Web Solutions</a></p>
  <p>
    <!-- <a href="">Proofreader Login</a> -->
  </p>
</footer>