{% extends 'tranai/base.html' %}
{% load static %}

{% block content %}
<!-- <center><img src="{% static 'tranai/nmt-banner.jpg' %}"></center><br> -->
<!-- <div class="center jumbotron alert-info"> -->
<!-- <div class="center jumbotron bg-light"> -->
<!-- <div class="center jumbotron bg-warning"> -->
  <div class="p-5 mb-4 bg2 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-6 fw-bold">Tran-AI NMT</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">About</button>
    </div>
  </div>
<!-- <center><img src="{% static 'tranai/nmt-banner2.jpg' %}"></center><br> -->
{% endblock %}