{% extends 'tranai/base.html' %}

{% block content %}
<!-- <center> -->
  <h2>Document: <i>{{ document }}</i></h2>
  <!-- <br> -->
  <strong>ID:</strong>&nbsp;&nbsp;{{ document.id }}<br>
  <strong>Date Of Delivery:</strong>&nbsp;&nbsp;{{ document.dod }}<br>
  <strong>Time Of Day:</strong>&nbsp;&nbsp;{{ document.tod }}<br>
  <strong>Day Of Week:</strong>&nbsp;&nbsp;{{ document.dow }}<br>
  <strong>Descriptor:</strong>&nbsp;&nbsp;{{ document.descriptor }}<br>
  <strong>Title:</strong>&nbsp;&nbsp;<i>{{ document.title }}</i><br>
  <!-- </center> -->
  <hr>
  <button class="btn btn-outline-primary btn-sm">Edit</button>
  <button class="btn btn-outline-danger btn-sm">Delete</button>
  <a class="btn btn-outline-success btn-sm" href="{% url 'index-documents' %}">All Documents</a>
  &nbsp;
  <a class="btn btn-outline-secondary btn-sm" href="{% url 'create-document' %}">New Document</a>
  <a class="btn btn-outline-secondary btn-sm" href="{% url 'create-document' %}">New Translation</a><br>
  <center><h2>Translations</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Language</th>
        <th scope="col">Translated Title</th>
        <th scope="col">Version</th>
        <th scope="col">Block Count</th>
        <th scope="col">Sub-block Count</th>
        <th scope="col">Sentence</th>
        <th scope="col">Transcription</th>
        <th scope="col">Language Imported</th>
      </tr>
    </thead>
    <tbody>
  {% for translation in document.translations.all %}
      <tr>
        <th scope="row"><a href="{% url 'show-document' translation.id %}">{{ translation.id }}</a></th>
        <td>{{ translation.id }}</td>
        <td>{{ translation.lan }}</td>
        <td>{{ translation.tran_title }}</td>
        <td>{{ translation.version }}</td>
        <td>{{ translation.blkc }}</td>
        <td>{{ translation.subc }}</td>
        <td>{{ translation.senc }}</td>
        <td>{{ translation.xcrip }}</td>
        <td>{{ translation.li }}</td>
        <td>actions</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}