{% extends 'tranai/base.html' %}

{% block content %}
<center>
  <h1>{{ document }}</h1>
  <br>
  {{ document.dod }}<br>
  {{ document.tod }}<br>
  {{ document.dow }}<br>
  {{ document.title }}<br>
  {{ document.descrip }}<br>
  </center>

  {% for translation in document.translations.all %}
    {{ translation.tran_title }}
  {% endfor %}
  <center><h2>Translations</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Language</th>
        <th scope="col">Translated Title</th>
        <th scope="col">Version</th>
        <th scope="col">Block Count</th>
        <th scope="col">Sub-block Count</th>
        <th scope="col">Sentence</th>
        <th scope="col">Transcription</th>
        <th scope="col">Language Imported</th>
      </tr>
    </thead>
    <tbody>
  {% for translation in document.translations.all %}
      <tr>
        <th scope="row"><a href="{% url 'show-document' translation.id %}">{{ translation.id }}</a></th>
        <td>{{ translation.id }}</td>
        <td>{{ translation.lan }}</td>
        <td>{{ translation.tran_title }}</td>
        <td>{{ translation.version }}</td>
        <td>{{ translation.blkc }}</td>
        <td>{{ translation.subc }}</td>
        <td>{{ translation.senc }}</td>
        <td>{{ translation.xcrip }}</td>
        <td>{{ translation.li }}</td>
        <td>actions</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}